<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        
        <title>Schmitz Tech</title>
        
        <meta name="description" content="">
        <meta name="author" content="Michael Schmitz">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="schmmd">
        <meta name="twitter:title" content="Schmitz Tech">
        <meta name="twitter:description" content="">
        <meta name="twitter:creator" content="schmmd">
        <meta name="twitter:image:src" content="https://api.twitter.com/1/users/profile_image?screen_name=schmmd&size=bigger">
        <meta name="twitter:domain" content="http://www.schmitztech.com:80/tech2/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Schmitz Tech">
        <meta property="og:site_name" content="Schmitz Tech">
        <meta property="og:url" content="http://www.schmitztech.com:80/tech2/">
        <meta property="og:description" content="">
        <meta property="og:image" content="https://api.twitter.com/1/users/profile_image?screen_name=schmmd&size=bigger">        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{{site.baseurl}}/resources/droplets/simple/style.css">
        <link rel="stylesheet" href="{{site.baseurl}}/resources/droplets/simple/subdiv.css">
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
        
            <!-- RSS Feed Links -->
    <link rel="alternate" type="application/rss+xml" title="Subscribe using RSS" href="http://www.schmitztech.com:80/tech2/rss" />
    <link rel="alternate" type="application/atom+xml" title="Subscribe using Atom" href="http://www.schmitztech.com:80/tech2/atom" />
    
    <!-- Dropplets Styles -->
    <link rel="stylesheet" href="{{site.baseurl}}/resources/droplets/style.css">
    <link rel="shortcut icon" href="http://www.schmitztech.com:80/tech2/dropplets/style/images/favicon.png">

    <!-- code styles -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/style/syntax.css">

    <!-- User Header Injection -->
        
    <!-- Plugin Header Injection -->
        </head>

    <body>
      {{ content }}
    </body>
</html>
