---
layout: droplets
title: Schmitz Tech
---

<article class="single published">
    <div class="row">
        <div class="one-quarter meta">
            <div class="thumbnail">
                <img src="{{siteurl}}/resources/img/schmmd.jpg" alt="Moving from Maven to SBT" />
            </div>

            <ul>
                <li>Written by  Michael Schmitz</li>
                <li>April 29th, 2013</li>
                <li>About <a href="http://www.schmitztech.com:80/tech2/category/scala"> Scala</a></li>
                <li></li>
            </ul>
        </div>

        <div class="three-quarters post">
        {{ content }}
        </div>
    </div>
</article>
